<div
  class="layer"
  [class.is-child]="isChild()"
  [class.is-hidden]="!isLayerVisible()"
  [class.is-locked]="isLayerLocked()"
  [class.is-selected]="isSelected()"
  (click)="onLayerClick($event)"
>
  <div class="layer__name">
    <span class="layer__icon" [title]="layer().content.type">
      <app-ui-icon [name]="getLayerContentIcon()"></app-ui-icon>
    </span>
    <span class="layer__name__text" [title]="getLayerDisplayName()">
      {{ getLayerDisplayName() }}
    </span>

    @if (isMainVideo()) {
      <span class="layer__is-main-video" title="Main video stream">◆</span>
    }
  </div>

  <div class="layer__actions">
    <button
      class="layer__btn layer__btn--icon"
      type="button"
      [title]="isLayerVisible() ? 'Hide widget' : 'Show widget'"
      (click)="onLayerIsVisibleClick($event)"
    >
      <app-ui-icon [name]="isLayerVisible() ? 'eye' : 'eye-off'"></app-ui-icon>
    </button>

    <button
      class="layer__btn layer__btn--icon"
      type="button"
      [title]="isLayerLocked() ? 'Unlock widget' : 'Lock widget'"
      (click)="onLayerIsLockedClick($event)"
    >
      <app-ui-icon [name]="isLayerLocked() ? 'lock' : 'unlock'"></app-ui-icon>
    </button>
  </div>
</div>

