:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  text-align: left;
  height: 100%;
  width: 100%;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
}

.time-label {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  display: block;
  height: 100%;
  line-height: inherit;
  white-space: nowrap;
  padding: 0 4px;
  box-sizing: border-box;
}
