:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.marker {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background: var(--ds-border-default);
  transform: translateX(-50%);

  &.main {
    background: var(--ds-border-strong);
    width: 2px;
  }
}

