:host {
  //position: absolute;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
  //min-width: 20px;
  //min-height: 20px;
  //outline: 1px solid black;
  //outline: 1px dashed var(--gray-dark);
  //overflow: hidden;
  //user-select: none;
  //resize: both;
  //overflow: hidden;


  &:hover {
    //outline: 2px solid var(--accent-color);
  }

  &.app-canvas-widget {
    //background-color: red;
  }

  &.app-canvas-widget--show-container {
    outline: 2px solid var(--ds-widget-container);

    .app-canvas-widget-resizer {
      &-bottom-left, &-bottom-right, &-top-right, &-top-left {
        background-color: var(--ds-widget-container);
        width: 6px !important;
        height: 6px !important;
      }
    }
  }

  &.app-canvas-widget--selected {
    outline: 5px solid var(--ds-accent);

    .app-canvas-widget-resizer {
      &-bottom-left, &-bottom-right, &-top-right, &-top-left {
        background-color: var(--ds-accent);
        width: 6px !important;
        height: 6px !important;
      }
    }
  }

  &.app-canvas-widget-dragging {
    outline: 5px solid var(--accent-color);
  }

  .app-canvas-widget-resizer {
    background-color: transparent;
    z-index: 2;
  }

  .widget-content-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
  }

  &.debug-mode {
    .app-canvas-widget-resizer {
      background-color: red;
    }
  }

  .widget-debug-info {
    position: absolute;
    background: #00000080;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > pre {
      font-size: 14px;
    }
  }

  //& > * {
  //  pointer-events: none; // This is an hack! It should be managed in the component's logic
  //}
}
