    @switch (item().content.type) {
        @case ('text') {
            <app-widget-text
                    [content]="textContent"
                    [widgetWidth]="item().width"
                    [widgetHeight]="item().height"
            />
        }
        @case ('image') {
            <app-widget-image [content]="imageContent"/>
        }
        @default {
            <ng-content></ng-content>
        }
    }

    @if (activeDebug()) {
        <div class="widget-debug-info">
            <pre>UUID: {{ item().uuid }}
{{ item().content.type }}
{{ item().width }} x {{ item().height }}
&#123;x:{{ item().x }}, y:{{ item().y }}&#125;</pre>
        </div>
    }
<!--    <div class="widget-content-wrapper"></div>-->
