:host { display: contents; }
.ui-sep {
  &--vertical {
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: var(--ds-border-default);
    flex-shrink: 0;
    align-self: center;
  }
  &--horizontal {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--ds-border-subtle);
    margin: var(--ds-space-1) 0;
  }
}
