@if (isUrlValid) {
    <img
        class="widget-image-content"
        [src]="content().src"
        [alt]="content().alt || 'Contenuto widget'"
        [style.object-fit]="mediaObjectFit()"
        [style.object-position]="coverObjectPosition()"
        [style.transform]="mediaTransform()"
        [style.transform-origin]="mediaTransformOrigin()"
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        draggable="false"
    />
} @else {
    <div class="widget-image-placeholder">Inserisci un URL immagine valido (http/https)</div>
}
