<div class="editor">
    <div class="editor-header">
        @if (canvasService.canManageCanvas()) {
            <div class="canvas-toolbar">
                <app-canvas-toolbar/>
            </div>
        }
    </div>
    <div class="editor-content">
        <div class="canvas-layers-panel">
            Layers here
        </div>
        <div class="canvas-wrapper" #canvasWrapper>
            <div class="canvas"
                 appCanvas
                 [canvasWrapper]="canvasWrapper"
                 [allowSnapToObjects]="canvasService.canSnapToObjects()"
                 [allowSnapToBorder]="canvasService.canSnapToBorder()"
            >
                @if (canvasService.objectSnapGuides().x !== undefined) {
                    <div class="canvas-guide canvas-guide-x" [style.left.px]="canvasService.objectSnapGuides().x"></div>
                }
                @if (canvasService.objectSnapGuides().y !== undefined) {
                    <div class="canvas-guide canvas-guide-y" [style.top.px]="canvasService.objectSnapGuides().y"></div>
                }

                @for (item of widgetList(); track item.uuid) {
                    <!--<div>
                       <h6>{{ item.uuid }} - {{ item.type }} [{{ item.mediaStream?.active ? "active" : "inactive" }}]</h6>
                       <div>
                         <button (click)="stopStreamItem(item)">Stop</button>
                         <button (click)="takeScreenshot(item)">Screenshot</button>
                       </div>
                       <app-video-stream [item]="item" class="stream-preview"></app-video-stream>
                       <pre><strong>Settings:</strong>{{ item.settings | json }}</pre>
                       <pre><strong>Capabilities:</strong>{{ item.mediaStream?.getVideoTracks()?.[0]?.getCapabilities() | json }}</pre>
                       <pre><strong>Constraints:</strong>{{ item.constraints | json }}</pre>
                     </div>-->
                    <app-widget
                            [appCanvasWidget]="item"
                            [item]="item"
                            [activeDebug]="canvasService.debugMode()"
                            [debugMode]="canvasService.debugMode()"
                            class="widget"
                    >
                        @if (canvasService.debugMode()) {
                            <div><b>uuid {{ item.uuid }}</b></div>
                        }
                    </app-widget>
                } @empty {
                    <p><em>No items.</em></p>
                }
                <div class="canvas-info">x: {{ canvasService.left() }}, y: {{ canvasService.top() }}</div>
            </div>
        </div>

        <aside class="canvas-side-panel">
            <app-canvas-settings-panel
                    [isOpen]="true"
                    panelMode="sidebar"
                    title="Editor Settings"
            />
        </aside>
    </div>

</div>

<!-- Debug Panel -->
@if (canvasService.debugMode()) {
    <app-canvas-debug-panel [show]="canvasService.debugMode()"/>
}
