<div class="actions-container">
  @if (!isPlaying()) {
    <button class="action" type="button" title="Play" (click)="onPlayClick()">
      <app-ui-icon name="play" />
    </button>
  } @else {
    <button class="action" type="button" title="Pause" (click)="onPauseClick()">
      <app-ui-icon name="pause" />
    </button>
  }
  <button class="action" type="button" title="Reset to start" (click)="onResetTimeClick()">
    <app-ui-icon name="undo" />
  </button>
  <label class="visibility-toggle" title="Ignore timeline visibility windows">
    <input
      type="checkbox"
      [checked]="showAllWidgets()"
      (change)="onShowAllWidgetsChanged($event)"
    />
    <span>Show all</span>
  </label>
</div>

<div class="time-container">
  <div class="time">{{ time() | timer: 'timeline' }}&nbsp;/&nbsp;{{ duration() | timer: 'timeline' }}</div>
</div>

<div class="zoom-container">
  <button type="button" class="zoom-control" title="Zoom out" (click)="zoomOut()" [disabled]="zoom() <= minZoom()">
    <app-ui-icon name="zoom-out" />
  </button>
  <span class="zoom-range">{{ zoom() }} / {{ maxZoom() }}</span>
  <input
    id="timeline-zoom-slider"
    type="range"
    [min]="minZoom()"
    [max]="maxZoom()"
    [step]="stepValue"
    [value]="zoom()"
    (input)="onZoomSliderChange($event)"
  />
  <button type="button" class="zoom-control" title="Zoom in" (click)="zoomIn()" [disabled]="zoom() >= maxZoom()">
    <app-ui-icon name="zoom-in" />
  </button>
</div>
